

<footer id="footer" class="bg-img">
    

<div class="modal fade" id="shareModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Share</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body text-center">
                <div class="mb-2">
                    <img src="https://www.qrcoder.co.uk/api/v1/?size=5&amp;text=music-app">
                </div>
                <a href="#" onclick="MyWindow=window.open('https://www.facebook.com/dialog/share?app_id=&amp;display=popup&amp;href=music-app','Facebook share','width=600,height=300'); return false;" class="btn btn-primary btn-sm waves-effect waves-light">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" onclick="MyWindow=window.open('https://twitter.com/share?url=music-app','Twitt this','width=600,height=300'); return false;" class="btn btn-info btn-sm waves-effect waves-light">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" onclick="MyWindow=window.open('https://www.linkedin.com/shareArticle?mini=true&url=music-app&title=Listen-App','Twitt this','width=600,height=300'); return false;" class="btn btn-success btn-sm waves-effect waves-light">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger btn-sm waves-effect waves-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>