{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <main id="pageWrapper">

        <div class="banner bg-home"></div>
        <div class="main-container">
            <div class="row">
                <div class="section col-xl-7 col-lg-6">
                    <div class="row h-100">
                        <div class="col-sm-7">
                            <div class="h-50 pb-4">
                                <div class="cards">
    

    
</div>
<div class="cards">
    <div class="video">
         <iframe width="100%" src="" autoplay muted>
            </iframe>
    </div>
<div class="title">
    <p><h2>Artist Name </p></div>
    <div class="description">
        <p>Video Description</p>
        <button><a href="">Vote</button></a>
    </div>
</div>



                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
                        
                                
       
    </main>

{% endblock %}