 {% extends 'layouts/base1.html' %}
{% load static %}

{% block content %}

 <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" >
              <!-- Layout Demo -->
              <div class="layout-demo-wrapper" >
                <div class="cards" >
    <!-- Cards -->
              <div class="row mb-5" >
               <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="background-color: white;>
                      <h5 class="card-title">Felix Mico</h5>
                      <h6 class="card-subtitle text-muted">Gospel singer</h6>
                    </div>
                     <video src="images\video\shortvideo.mp4" controls width="300" height="150"></video>
                        <div class="card-body" style="background-color: white;>
                      <p class="card-text">Bakiristu bavandimwe ndabasaba kunshyigikira tugakorera Imana</p>
                      <a href="javascript:void(0);" class="card-link">Vote</a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="background-color: white;>
                      <h5 class="card-title">Felix Mico</h5>
                      <h6 class="card-subtitle text-muted">Gospel singer</h6>
                    </div>
                     <video src="images\video\shortvideo.mp4" controls width="300" height="150"></video>
                        <div class="card-body" style="background-color: white;>
                      <p class="card-text">Bakiristu bavandimwe ndabasaba kunshyigikira tugakorera Imana</p>
                      <a href="javascript:void(0);" class="card-link">Vote</a>
                      
                    </div>
                  </div>
                </div>
                
              <!-- End of first card -->
              
              <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="background-color: white;>
                      <h5 class="card-title">Felix Mico</h5>
                      <h6 class="card-subtitle text-muted">Gospel singer</h6>
                    </div>
                     <video src="images\video\shortvideo.mp4" controls width="300" height="150"></video>
                        <div class="card-body" style="background-color: white;>
                      <p class="card-text">Bakiristu bavandimwe ndabasaba kunshyigikira tugakorera Imana</p>
                      <a href="javascript:void(0);" class="card-link">Vote</a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="background-color: white;>
                      <h5 class="card-title">Felix Mico</h5>
                      <h6 class="card-subtitle text-muted">Gospel singer</h6>
                    </div>
                     <video src="images\video\shortvideo.mp4" controls width="300" height="150"></video>
                        <div class="card-body" style="background-color: white;>
                      <p class="card-text">Bakiristu bavandimwe ndabasaba kunshyigikira tugakorera Imana</p>
                      <a href="javascript:void(0);" class="card-link">Vote</a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="background-color: white;>
                      <h5 class="card-title">Felix Mico</h5>
                      <h6 class="card-subtitle text-muted">Gospel singer</h6>
                    </div>
                     <video src="images\video\shortvideo.mp4" controls width="300" height="150"></video>
                        <div class="card-body" style="background-color: white;>
                      <p class="card-text">Bakiristu bavandimwe ndabasaba kunshyigikira tugakorera Imana</p>
                      <a href="javascript:void(0);" class="card-link">Vote</a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="background-color: white;>
                      <h5 class="card-title">Felix Mico</h5>
                      <h6 class="card-subtitle text-muted">Gospel singer</h6>
                    </div>
                     <video src="images\video\shortvideo.mp4" controls width="300" height="150"></video>
                        <div class="card-body" style="background-color: white;>
                      <p class="card-text">Bakiristu bavandimwe ndabasaba kunshyigikira tugakorera Imana</p>
                      <a href="javascript:void(0);" class="card-link">Vote</a>
                      
                    </div>
                  </div>
                </div>
              <!-- second card -->
                  <div/> 
              <!-- End of cards -->


             <!-- page footer-->

     
                
              </div>
              <!--/ Layout Demo -->
            </div>
            <!-- / Content -->
</div>
</div></div></div>



            {% endblock %}