{% extends 'layouts/base1.html' %}
{% load static %}

{% block content %}

 <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body color">
           
              <h4 class="mb-2">Adventure starts here 🚀</h4>
              <p class="mb-4">Make your app management easy and fun!</p>

              <form id="formAuthentication" class="mb-3" action="{% url 'accounts:register' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="firstname" class="form-label">Firstname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    name="first_name"
                    placeholder="Enter your Firstname"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">Lastname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastname"
                    name="last_name"
                    placeholder="Enter your lastname"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
                </div>
                <div class="form-group">
                        <input name="password1" type="password" class="form-control" required
                               placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <input name="password2" type="password" class="form-control" required
                               placeholder="Confirm Password">
                    </div>

                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                    <label class="form-check-label" for="terms-conditions">
                      I agree to
                      <a href="javascript:void(0);">privacy policy & terms</a>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary d-grid w-100">Sign up</button>
              </form>

              <p class="text-center">
                <span>Already have an account?</span>
                <a href="login">
                  <span>Sign in instead</span>
                </a>
              </p>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    </div>
{% endblock %}